html,
body {
    /* the margin in the html and body will stretch 
    to the very edge of the DOM */
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

header {
    font-style: italic;
    text-align: center;
    background-color:rgb(43, 101, 226);
    color:rgb(255, 254, 221);
    padding: 6px 32px;
}

#total-monthly {
    font-size: x-large;
    max-width: 700px;
    margin: auto;
    text-align: center;
}

#formDiv {
    max-width: 700px;
    padding-right: 170px;
    margin: auto;
    text-align: right;
}

#employee-table {
    margin: auto;
    width: 70%;
}

thead {
    background-color: rgb(255, 254, 221);
}

#employee-table td,
#employee-table th {
    border:1px solid rgb(92, 193, 240);
    padding: 8px;
}

#employee-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#employee-table tr:hover {
    background-color: #ddd;
}

input[type=text],
input[type=number],
input[type=date],
select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}